// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	margin: 75px 0;
}

body {
	background: url('black-background.jpg');
}

.blarg {
	border-radius: 5%;
	margin: 20px;
	max-height: 200px;
}

.thumbnail {
  margin: 0 200px;
}
div.panel-body {
	padding: 35px;
}

div.header {
  height: 0%;
}

h3 {
  text-align: center;
}